<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>History</title>
  </head>
  <body>
    <h1>U came to history page</h1>
    {% if camps %}
    <table>
      <tr>
        <th>CampID</th>
        <th>StartDate</th>
        <th>EndDate</th>
        <th>location</th>
      </tr>
      {% for camp in camps %}
        <tr>
        <td>{{ camp.campid }}</td>
        <td>{{ camp.startdate }}</td>
        <td>{{ camp.enddate }}</td>
        <td>{{ camp.location }}</td>
        </tr>

        {% if donors %}
            <table>
                    <tr>
                    <th>firstname</th>
                    <th>lastname</th>
                    <th>Email</th>
                    <th>phone</th>
                    <th>Gender</th>
                    <th>date</th>
                    <th>blood</th>
                    </tr>
                    {% for donor in donors %}
                    {% if donor.bloodcamp.campid == camp.campid %}
                    <tr>
                    <td>{{donor.firstname}}</td>
                    <td>{{donor.lastname}}</td>
                    <td>{{donor.email}}</td>
                    <td>{{donor.phone}}</td>
                    <td>{{donor.gender}}</td>
                    <td>{{donor.date}}</td>
                    <td>{{donor.blood}}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
            </table>
      {% endif %}
      {% endfor %}
     </table>
    {% endif %}
    <h2><a href="{% url 'bloodcamps:camphome' %}" style="text-decoration:none">Back</a></h2>
  </body>
</html>

