body {background-image: url("pagewall.jpg");
	width: 100%;
	height: 4000px;
	background-repeat: no-repeat;



}

a:hover{
	background-color: #fe3452;
	color: #232345;
	text-decoration: none;
  }
  .list-group-item {
	background-color: cyan
  
  }
